<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Coffee List</title>
    <style>
        h1{
            color: brown;
            font-family: sans-serif;
        }
        li > span{
            color: red;
            font-family: sans-serif;
        }

        li > a{
            color: blue;
            text-decoration: none;
        }
    </style>
</head>
<body>
<a href="/add">Add Coffee</a>
<h1>Available Coffees</h1>
<ul>
    <li th:each="coffee : ${coffees}">
        <span th:text="${coffee.name}"></span>
        <a th:href="@{/delete(id=${coffee.id})}">Delete</a>
    </li>
</ul>
</body>
</html>
