@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --logoFont: "Special Gothic Expanded One", sans-serif;
    --baseFont: "Montserrat", sans-serif;
    --primaryColor: #3F4F44;
    --secondaryColor:#2C3930;
    /* Accent Colors */
    --boldColor: #FFF0DC;
    --lightFontColor: #543A14;
    --borderColor:5px solid #A27B5C;
    --borderColorOnly: #A27B5C;
    --view: #CA7842;
    --delete: #E07B39;
    --edit:#F0BB78;
    --error: #FE4F2D;
    --borderRadius: 5px;
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    --transition: all 0.2s ease-in-out;
    --border-radius: 5px;
}
body{
    background-color: var(--primaryColor);
}
main{
    margin: auto;
    height: 100vh;
}

.options {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--borderColorOnly);
    padding: 1rem;
    border-radius: var(--borderRadius);
    box-shadow: var(--box-shadow);
    gap: 1rem;
    width: 50vw;
}

.options p{
    color: var(--boldColor);
    font-family: var(--logoFont);
    font-size: 24px;
    letter-spacing: 5px;
}

.options a{
    text-decoration: none;
    padding: 0.6rem 1.2rem;
    background: var(--borderColorOnly);
    color: white;
    border-radius: var(--border-radius);
    font-weight: bold;
    transition: var(--transition);
}

.options a:hover{
    background-color: white;
    color: var(--borderColorOnly);
    text-decoration-line: underline;
    font-size: 14px;
}
.options> #search > form > input{
    border-radius: 5px;
    font-family: var(--baseFont);
    background-color:#FFF0DC ;
}

.options> #search > form > button{
    font-family: var(--baseFont);
    font-weight: bold;
    background-color: #A27B5C;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 15px;
}

.options> #search > form > button:hover{
    background-color: white;
    color: #A27B5C;
    text-decoration-line: underline;
    font-size: 14px;
}

.tableCoffee{
    margin-top: 1em;
    display: flex;
    justify-content: flex-start;
}

table{
    border-collapse: collapse;
}

th, td{
    font-family: var(--baseFont);
    color: var(--lightFontColor);
    background-color: #DCD7C9;
    border: 2px solid var(--borderColorOnly);
    text-align: center;
    padding: 5px;
}

tr td:nth-child(8){
    text-transform: uppercase;
    font-weight: bold;
}

.actions a:first-child{
    font-weight: bold;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    padding: 3px 7px;
    background-color: var(--view);
}

.actions a:nth-child(2){
    font-weight: bold;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    padding: 3px 7px;
    background-color: var(--delete);
}

.actions a:last-child{
    font-weight: bold;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    padding: 3px 7px;
    background-color: var(--edit);
}
