<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    h1{
      color: brown;
      font-family: sans-serif;
    }
    div > label{
        font-family: sans-serif;
    }
    a{
        font-family: sans-serif;
        text-decoration:none;
    }
  </style>
</head>
<body>
  <h1>New Coffee</h1>
  <div>
    <form action="/save" method="POST">
      <div>
        <label for="cname">Coffee Name</label>
        <input type="text" id="cname" name="name">
      </div>

      <div>
        <label for="ctype">Coffee Type</label>
        <input type="text" id="ctype" name="type">
      </div>

      <div>
        <label for="csize">Coffee Size</label>
        <input type="text" id="csize" name="size">
      </div>

      <div>
        <label for="cprice">Coffee Price (PHP)</label>
        <input type="text" id="cprice" name="price">
      </div>

      <div>
        <label for="croast">Roast Level</label>
        <input type="text" id="croast" name="roastLevel">
      </div>

      <div>
        <label for="corigin">Coffee Origin</label>
        <input type="text" id="corigin" name="origin">
      </div>

      <div>
        <label for="cstock">Coffee Stock</label>
        <input type="text" id="cstock" name="stock">
      </div>

      <div>
        <label for="cflavor">Flavor Notes</label>
        <input type="text" id="cflavor" name="flavorNotes">
      </div>

      <div>
        <label for="cbrew">Brew Method</label>
        <input type="text" id="cbrew" name="brewMethod">
      </div>

      <button>Save</button>
    </form>
  </div>
  <a href="/">Back to List</a>
</body>
</html>