<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Coffee</title>
  <link th:href="@{/css/formStyle.css}"rel="stylesheet">
</head>
<body>
<header>
  <div>
    <h1>COFFEE COFFEE</h1>
  </div>
</header>
<main>
  <h2>New Coffee</h2>
  <div class="add-form">
    <form th:action="@{/save}" method="POST">
      <div>
        <label for="cname">Coffee Name</label>
        <input type="text" id="cname" name="name" required>
      </div>

      <div>
        <label for="ctype">Coffee Type</label>
        <input type="text" id="ctype" name="type" required>
      </div>

      <div>
        <label for="csize">Coffee Size</label>
        <input type="text" id="csize" name="size" required>
      </div>

      <div>
        <label for="cprice">Coffee Price (PHP)</label>
        <input type="text" id="cprice" name="price" required>
      </div>

      <div>
        <label for="croast">Roast Level</label>
        <input type="text" id="croast" name="roastLevel" required>
      </div>

      <div>
        <label for="corigin">Coffee Origin</label>
        <input type="text" id="corigin" name="origin">
      </div>

      <div>
        <label for="cstock">Coffee Stock</label>
        <input type="text" id="cstock" name="stock" required>
      </div>

      <div>
        <label for="cflavor">Flavor Notes</label>
        <input type="text" id="cflavor" name="flavorNotes">
      </div>

      <div>
        <label for="cbrew">Brew Method</label>
        <input type="text" id="cbrew" name="brewMethod">
      </div>

      <div id="formActions">
        <button>Save</button>
        <a href="/">Back to List</a>
      </div>

    </form>
  </div>

</main>
<footer>
  <h1>COFFEE COFFEE</h1>
  <p>All Rights Reserved. Copyright 2025 by Allon-sy Co.</p>
</footer>
</body>
</html>